header {
  width: 100%;
  height: 40px;
  font-family: 'Roboto';
}

.header-wrapper {
  width: 90%;
  margin: 0 auto;
  margin-top: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.brand {
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 500;
}

.brand span:nth-child(1) {
  color: #F8F8F8;
  background-color: #121221;
  padding: 10px 8px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

.right-nav {
  display: flex;
  gap: 36px;
}

.right-nav img {
  cursor: pointer;
}